<%= form_with(model: [@artist, @song], local:true) do |f| %>
  <div class='field'>
    <%= f.label :name %>
    <%= f.text_field :name, required: true, focus: true %>
  </div>
  <div class='field'>
    <%= f.label :bpm %>
    <%= f.number_field :bpm %>
  </div>
  <%= f.submit %>
<% end %>

<%= link_to 'Go back', artist_songs_path(@artist) %>
