<%= form_with(model: @billboard, local: true) do |f| %>
<div class='field'>
  <%= f.label :name %>
  <%= f.text_field :name, required: true, focus: true %>
</div>
<div class='field'>
  <%= f.label 'Region/Type' %>
  <%= f.text_field :region %>
</div>
<%= f.submit %>
<% end %>
<%= link_to 'Go Back', billboards_path %>
